<ul id="slide-out" class="side-nav fixed print-hide">
    <header class="menu-profile-view hide-on-med-and-down">
      <div class="row">
            <div class="col s12 show-on-large">
              <!-- <div class="background">
                <img src="https://via.placeholder.com/150">
              </div> -->
              <a href="{{ "/profile/" | prepend: site.baseurl }}"  >
                <img class="circle" src="https://via.placeholder.com/150">
              </a>
            </div>
            <div class="col s12">
              <a href="{{ "/profile/" | prepend: site.baseurl }}"><span class="white-text name"> </span></a>
            </div>
            <div class="col s12">
              <a href="{{ "/profile/" | prepend: site.baseurl }}"><span class="white-text email"> </span></a>
            </div>
      </div>
    </header>
    <section class="menu-items">
      <ul class="inac tive">
          <li class="subheader">
            <a class="waves-effect" href="{{ "/dashboard/" | prepend: site.baseurl }}" aria-selected="true" title="Dashboard">
              <!-- <i class="material-icons mdc-list-item__graphic" aria-hidden="true">arrow_right</i> -->
              <!-- <i class="icon-network_check fa-3x"></i> -->
              <span class="mdc-list-item__text hide-on-small-only print-hide"> Dashboard </span>
            </a>
            <span class="mdc-list-item__text hide-on-med-and-up print-hide"> Dashboard </span>
          </li>
          <!-- <li><div class="divider"></div></li> -->
          <li><a class="subheader">TERA <span class="icon-plus right"></span><span class="icon-minus hide right"></span></a></li>
          <div class="subheader-group">
            {% for my_page in site.pages %}
              {% if my_page.app %}
                {% if my_page.menu %}
                  {% if my_page.tera | sort  %}
                    <li>
                        <a class="waves-effect" href="{{ my_page.url | prepend: site.baseurl }}" aria-selected="true" title="{{ my_page.title }}">
                          <!-- <i class="icon-{{ my_page.icon }} fa-3x"></i> -->
                          <span class="mdc-list-item__text hide-on-small-only"> {{ my_page.title }} </span>
                          <span class="mdc-list-item__text hide-on-med-and-up"> {{ my_page.title }} </span>
                      </a>

                    </li>
                  {%else%}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <li><a class="subheader">Hazards <span class="icon-plus right"></span> <span class="icon-minus hide right"></span></a></li>
          <div class="subheader-group">
            {% for my_page in site.pages %}
              {% if my_page.app %}
                {% if my_page.menu %}
                  {% if my_page.hazards | sort %}
                    <li>
                        <a class="waves-effect" href="{{ my_page.url | prepend: site.baseurl }}" aria-selected="true" title="{{ my_page.title }}">
                          <!-- <i class="icon-{{ my_page.icon }} fa-3x"></i> -->
                          <span class="mdc-list-item__text hide-on-small-only"> {{ my_page.title }} </span>
                          <span class="mdc-list-item__text hide-on-med-and-up"> {{ my_page.title }} </span>
                      </a>

                    </li>
                  {%else%}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          <li><a class="subheader">Projects <span class="icon-plus right"></span><span class="icon-minus hide right"></span></a></li>
            <div class="subheader-group">
              {% for my_page in site.pages %}
                {% if my_page.app %}
                  {% if my_page.menu %}
                    {% if my_page.projects | sort %}
                      <li>
                          <a class="waves-effect" href="{{ my_page.url | prepend: site.baseurl }}" aria-selected="true" title="{{ my_page.title }}">
                            <!-- <i class="icon-{{ my_page.icon }} fa-3x"></i> -->
                            <span class="mdc-list-item__text hide-on-small-only"> {{ my_page.title }} </span>
                            <span class="mdc-list-item__text hide-on-med-and-up"> {{ my_page.title }} </span>
                        </a>

                      </li>
                    {%else%}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          <li><a class="subheader">Employees <span class="icon-plus right"></span><span class="icon-minus hide right"></span></a></li>
          <div class="subheader-group">
            {% for my_page in site.pages %}
              {% if my_page.app %}
                {% if my_page.menu %}
                  {% if my_page.employees | sort %}
                    <li>
                        <a class="waves-effect" href="{{ my_page.url | prepend: site.baseurl }}" aria-selected="true" title="{{ my_page.title }}">
                          <!-- <i class="icon-{{ my_page.icon }} fa-3x"></i> -->
                          <span class="mdc-list-item__text hide-on-small-only"> {{ my_page.title }} </span>
                          <span class="mdc-list-item__text hide-on-med-and-up"> {{ my_page.title }} </span>
                      </a>

                    </li>
                  {%else%}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
          {% for my_page in site.pages %}
            {% if my_page.app %}
              {% if my_page.menu %}
                {% if my_page.main %}
                  <li>
                      <a class="waves-effect" href="{{ my_page.url | prepend: site.baseurl }}" aria-selected="true" title="{{ my_page.title }}">
                        <i class="icon-{{ my_page.icon }} fa-3x"></i>
                        <span class="mdc-list-item__text hide-on-small-only"> {{ my_page.title }} </span>
                        <span class="mdc-list-item__text hide-on-med-and-up"> {{ my_page.title }} </span>
                    </a>

                  </li>
                {%else%}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
          <li><div class="divider"></div></li>
          <!-- <li>
            <a class="waves-effect username" href="{{ "/profile/" | prepend: site.baseurl }}" aria-selected="true">
                <i class="small material-icons left">account_circle</i>
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">arrow_right</i>
               <span class="mdc-list-item__text">Home</span>
            </a>
        </li> -->
        <br />
        <li>
          <a class="hide-on-med-and-up" href="/" aria-selected="true" onclick="signout(signout)" title="Log out">
            <i class="icon-exit_to_app fa-3x"></i>
          </a>
          <a class="waves-effect logout button hide-on-small-only" href="/" aria-selected="true" onclick="signout(signout)">
            <span class="mdc-list-item__text ">Log out</span>
            <span class="mdc-list-item__text hide-on-med-and-up"> Log out</span>
          </a>

        </li>
      </ul>

    </section>
</ul>
