<!-- CTA - Features  -->
<section id="cta-features" class="container style1 special">
  <div class="inner">
    <header class="major">
      <h2>Lawntology Pricing</h2>
      <p>This is a short list of all the services we offer, If you have a question please ask us.</p>
    </header>
    <ul class="features">
      {% for product in site.data.products %}
        <li >
            <h3><i class="material-icons">{{ product.icon }}</i> {{ product.title }}</h3>
            <p>{{ product.description }}</p>
            <button class="btn btn-special"> {{ product.price }} </button>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
