<!-- Modals Structure -->
   <div id="new-{{page.title}}-modal" class="modal modal-fixed-footer">

     <div class="modal-content">
       <div class="row">
         <div class="col s12 m3 push-m9 right-align">
           <button class="modal-close medium">
               <i class="icon-close fa-3x"></i>
           </button>
         </div>
          <div class="col s12 m9 offset-s1 pull-m3">
             <h3 >Add New {{ page.singular }}</h3>
             <!-- <p>A bunch of text</p> -->
          </div>
       </div>
       {% include json-form.html %}
     </div>
     <div class="modal-footer">
       <button id="cancel"  class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
       <button   data-page="{{page.title}}" class="modal-action modal-close waves-effect waves-green btn-flat {{page.app}}-submit" >Save</button>
     </div>
   </div>
