<!-- navbar content here  -->
{% include header.html %}

  <ul id="slide-out" class="sidenav">
    <header>
        <!-- <li><div class="user-view">
          <div class="background">
            <img src="images/office.jpg">
          </div>
          <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
          <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li> -->
    </header>
    <ul class="logg edin">
      <li>
        <a class="waves-effect" href="/" aria-selected="true">
        <!-- <i class="material-icons mdc-list-item__graphic" aria-hidden="true">arrow_right</i> -->
        <span class="mdc-list-item__text">Home</span>
        </a>
      </li>
      {% for my_page in site.pages %}
        {% if my_page.basic %}
          {% if my_page.menu %}
           <li>
             <a class="waves-effect" href="{{ my_page.url | prepend: site.baseurl }}" aria-selected="true">
               <i class="icon-{{my_page.icon}}"></i>
               <span class="mdc-list-item__text  "> {{ my_page.title }} </span>
             </a>
           </li>
           {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
    <li><div class="divider"></div></li>
    <ul class="services hide">
      <li><a class="subheader"> <i class="icon-nature_people"></i> Services </a></li>
        {% for my_page in site.pages %}
          {% if my_page.service %}
           {% if my_page.menu %}
            <li>
              <a class="waves-effect" href="{{ my_page.url | prepend: site.baseurl }}" aria-selected="true">
                <i class="icon-{{my_page.icon}}"></i>
                <span class="mdc-list-item__text hide-on-med-and-down"> {{ my_page.title }} </span>
              </a>
            </li>
            {% endif %}
          {% endif %}
        {% endfor %}
    </ul>

  <footer>
    <!-- <a class="mdc-list-item" href="tel:{{site.phone}}" aria-selected="true">
      <i class="material-icons mdc-list-item__graphic" aria-hidden="true">arrow_right</i>
      <span class="mdc-list-item__text"> Hire Us {{site.phone}} </span>
    </a> -->
  </footer>
</ul>
