<!DOCTYPE html>

<html>
  {% include head.html %}
  <body>
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}
  </body>
  <!-- <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js" rel="prefetch"></script> -->
  <!-- Firebase App is always required and must be first -->
<!-- <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js" rel="prefetch"></script> -->
<!-- Add additional services that you want to use -->
<!-- <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js" rel="prefetch"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-database.js" rel="prefetch"></script> -->
  <script type="text/javascript" src="/webpack/website.js" rel="prefetch" ></script>
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> -->
</html>
