---
layout: default
---
<style>
#main  {
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{page.image}}") !important;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{page.image}}") !important;
	background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("{{page.image}}") !important;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
</style>

<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <p>{{  page.description }}</p>
  </header>

	<section class="container light">
		<div class="inner">
      {{ content }}
    </div>
  </section>

	<section class="container light">
		<div class="inner">
       <p class="button"> Call us Today: <a href="tel:{{site.phone}}">{{site.phone}}</a></p>
    </div>
  </section>


</article>
