---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
 
@import
        "base",
        "layout",
        "syntax-highlighting",
        "materialize"
;

html {
  font-family:libre baskerville, serif;
  letter-spacing: 0.1em;
}
nav {
  height: 80px !important;
}
p{
  font-size: 15px;
  font-family: futura-lt-w01-light,sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.35em;
  font-weight: 400;
}
input {
  font-family: sans-serif;

}
input::placeholder {
    color: #2B2B2B;
}
input[type="button"] {
  line-height: 3em;
  border: 0;
  background-color:  #2b2b2b !important;
}
input[type="button"]:hover {
  background-color:  #000 !important;
}
strong { font-weight: bold; }

.border-line{
    box-sizing: border-box;
    border-top: 3px solid rgba(66, 66, 66, 1);
    height: 0;
}
.black{
  background-color: #2b2b2b !important;
}
.page-content {
    padding: 10px 0;
}
