html { font-family: libre baskerville, serif; letter-spacing: 0.1em; }

nav { height: 80px !important; }

p { font-size: 15px; font-family: futura-lt-w01-light,sans-serif; letter-spacing: 0.05em; line-height: 1.35em; font-weight: 400; }

input { font-family: sans-serif; }

input::placeholder { color: #2B2B2B; }

input[type="button"] { line-height: 3em; border: 0; background-color: #2b2b2b !important; }

input[type="button"]:hover { background-color: #000 !important; }

strong { font-weight: bold; }

.border-line { box-sizing: border-box; border-top: 3px solid #424242; height: 0; }

.black { background-color: #2b2b2b !important; }

.page-content { padding: 10px 0; }
